*{
  margin: 0px;
  padding: 0px;
}
body{
  height: 100vh;
  width: 100vw;
}
.para{
  /* width: 100%; */
  /* word-wrap: break-word; */
  /* overflow-wrap: anywhere; */
}
.descriptiondata{
  width: 65%;
  /* word-wrap: break-word; */

}
.editfunc{
  cursor: pointer;
}
.deltfunc{
  cursor: pointer;
}

.addqty{
  cursor: pointer;
  font-size: 28px;
  /* background-color: rgb(50, 239, 101); */
  border-radius: 50%;
}
.decqty{
  cursor: pointer;
  font-size: 28px;
  /* background-color: rgb(50, 239, 101); */
  border-radius: 50%;
}
/* .addqty:hover{
  font-size: 30px;
} */